.container {
  display: flex;
  justify-content: center;
  //   align-items: center;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 910px;
  display: flex;
  justify-content: center;
}

.name {
  top: -334px;
  position: absolute;
  display: inline-block;
  opacity: 0.6;
  h1 {
    overflow: hidden;
  }
  p {
    overflow: hidden;
    text-transform: lowercase;
  }
}

.construction {
  margin-top: -100px;
  display: inline-block;
  font-size: 100px;
  text-align: center;
  overflow: hidden;
}

.details__wrapper {
  margin-top: -108px;
  font-size: 14px;
  top: 200px;
  right: 0;
  position: absolute;
  text-transform: uppercase;
}

.info__container {
  display: flex;

  h2 {
    margin-bottom: 24px;
    overflow: hidden;
  }

  a {
    opacity: 0.6;
    margin-bottom: 8px;
    display: flex;
    overflow: hidden;
    transition: 0.6s opacity ease;
    &:hover {
      opacity: 1;
    }
  }
  .date {
    margin-left: 8px;
  }
}

.projects__container {
  margin-right: 128px;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 70vw;
  }
  .construction {
    font-size: 60px;
  }
  .details__wrapper {
    margin-top: -172px;
  }

  .name {
    top: -236px;
  }
  .contact__container {
    margin-top: 32px;
  }
  .info__container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
  .wrapper {
    width: 100vw;
    justify-content: start;
  }
  .construction {
    font-size: 32px;
  }

  .details__wrapper {
    font-size: 12px;
    left: 0;
  }

  .name {
    top: -307px;
  }
  .projects__container {
    margin-right: 0;
  }
}
